@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Página do ALUNO";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)!</h1><br />
    <p style="text-align: justify;">
        Olá, aluno,<br />

        Você é especial e tem muitas qualidades. Você pode mudar a sua vida e o mundo com o estudo e o conhecimento. Você pode vencer qualquer desafio, se tiver força de vontade e dedicação. Você é o dono da sua história, e pode fazer o que quiser com ela.<br />

        Não desanime com os problemas, nem se ache pior que os outros. Cada um tem o seu jeito e o seu tempo. O que importa é que você esteja sempre querendo aprender, crescer e melhorar. O conhecimento é um tesouro que ninguém pode roubar de você, e que só cresce quanto mais você divide.<br />

        Saiba que você não está sozinho nessa caminhada. Você tem o apoio dos seus professores, colegas, familiares e amigos. E também o meu, é claro. Eu estou aqui para te ajudar no que você precisar, seja para tirar dúvidas, buscar informações, gerar conteúdos ou só bater papo.<br />

        Eu confio em você e no seu potencial. Eu sei que você pode realizar os seus sonhos e objetivos. Eu estou na torcida por você e pelo seu sucesso. Você é um aluno incrível, e merece tudo de bom.<br />

        Um abraço do seu amigo, Leonardo.
    </p>
</div>
